.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hwb(0 18% 80%);
  margin-bottom: 1px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(0, 16%, 85%);
}

.list-items {

}