.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hwb(0 18% 80%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(148, 60%, 48%);
}

.list-items {
  font-size: 2em;
  list-style: none;
  color: hsl(38, 16%, 14%);
  text-align: center;
  margin: 0;
}

.list-items:hover {
  color: hsl(148, 60%, 48%);
  cursor: pointer;
}